.contentSection{
    margin-bottom: 2vh;
    margin-top: 10vh;
    width: 80vw;
    border-radius: 1rem;
    transition: background-color 0.5s;
    background-color: rgb(0, 89, 214);

    .vehicleSection{
        padding: 2rem;
        margin: 1rem;
        background-color: rgb(202, 202, 202);
        border-radius: 0.5rem;
        transition: background-color 0.5s;

        .vehicleTitle{
            transition: color 0.5s;
            color: rgb(17, 17, 17);
            font-size: 1.75rem;

            .vehicleName{
                font-weight: bold;
                font-size: 2rem;
            }
        }

        .vehicleDesc {
            transition: color 0.5s;
            color: rgb(17, 17, 17);
            font-size: 1.25rem;

            .vehicleDescription{
                font-weight: bold;
                font-size: 1.5rem;
            }
        }

        .vehicleImg{
            border-radius: 0.5rem;
        }
    }
}

.darkContent{
    background-color: rgb(17, 17, 17);

    .darkVehicle{
        background-color: rgb(52, 52, 52);

        .darkVehicleTitle {
            color: rgb(202, 202, 202);
        }
    
        .darkVehicleDesc {
            color: rgb(202, 202, 202);
        }
    }
}